body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.App {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 40px;
  color: #fffb00;
  margin-bottom: 20px;
}
